name: CI

on:
  push:
    branches: [ "main", "feature/**" ]
    paths: [ "backend/**", "frontend/**" ] # backend/frontend 以下に変更があった時だけ動かす（効率化）
  pull_request:
    branches: [ "main" ]
    paths: [ "backend/**", "frontend/**" ]

jobs:
  check:
    runs-on: ubuntu-latest
    # ジョブ全体のデフォルト作業ディレクトリを指定
    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: true
          cache-dependency-path: backend/go.sum # キャッシュの場所も指定

      - name: Check Formatting
        run: |
          if [ "$(gofmt -l .)" != "" ]; then
            echo "以下のファイルのフォーマットが正しくありません:"
            gofmt -l .
            exit 1
          fi

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

  frontend-tests:
    name: Frontend tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Cache NPM
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/frontend/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install frontend deps
        working-directory: frontend
        run: npm ci

      - name: Run frontend tests
        working-directory: frontend
        run: npm test -- --ci --reporters=default